{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}


<style>
    body.modal-open .modal {
        display: flex !important;
        height: 100%;
    }

    body.modal-open .modal .modal-dialog {
        margin: auto;
    }
</style>
{% endblock %}

{% block body %}

<!-- <div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<form method="post" accept-charset="UTF-8">

    <input type="hidden" name="action" value="users/login">

    <h3><label for="loginName">Username or email</label></h3>
    <input id="email" type="email" name="email" value="">

    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password">

    <label>
        <input type="checkbox" name="rememberMe" value="1">
        Remember me
    </label>

    <button type="submit" id="submit" value="Login">Send it</button>


    {% endblock %}

    {% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        window.user = {{ user|raw }};


        $(function () {
           // $('#myModal').modal({ backdrop: 'static', keyboard: false });
            // $('#myModal').appendTo("body").modal('show');
            $('#submit').on('click', function (event) {
                event.preventDefault();
                login();

            });

        })
        function login() {
            $.ajax({
                type: "POST",
                url: "/login",
                contentType: 'application/json',
                data: JSON.stringify({

                    email: $('#email').val(),
                    password: $('#password').val()

                }),
                dataType: "json",
                success: function (response, textStatus, request) {
                 
                    console.log("succes", request.getResponseHeader('location'));
                
                    if (request.getResponseHeader('location')) {
                        var url = request.getResponseHeader('location');
                        $.ajax({
                            type: "GET",
                            url: url,
                            dataType: "json",
                            success: function (response) {

                                console.log("User", response);

                                window.user = JSON.stringify(response);

                            }
                        });
                    }


                },
                error: function (response) {
                    console.log("error", response.responseJSON);

                }
            });

        }


    </script>
    {% endblock %}